@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    .text-01 {
        @apply text-grey-900 dark:text-grey-75;
        @apply fill-grey-900 dark:fill-grey-75;
    }

    .text-02 {
        @apply text-grey-600 dark:text-grey-300;
        @apply fill-grey-600 dark:fill-grey-300;
    }

    .text-03 {
        @apply text-grey-500 dark:text-grey-400;
        @apply fill-grey-500 dark:fill-grey-400;
    }

    .interactive-text {
        @apply text-blurple-400 dark:text-blurpleA-300;
    }

    .interactive-01 {
        @apply bg-blurple-400 dark:bg-blurpleA-400;
    }

    .screen-01 {
        @apply bg-white dark:bg-grey-950;
    }

    .screen-02 {
        @apply bg-grey-50 dark:bg-grey-900;
    }

    .surface-01 {
        @apply bg-white dark:bg-grey-850;
    }

    .surface-02 {
        @apply bg-grey-50 dark:bg-grey-800;
    }

    .surface-material {
        @apply bg-material-0 dark:bg-material-800;
    }

    .surface-success {
        @apply bg-green-75 dark:bg-green-900;
    }

    .surface-sticky {
        @apply bg-white dark:bg-grey-900;
    }

    .stroke-01 {
        @apply border-grey-100 dark:border-grey-750;
    }

    .stroke-02 {
        @apply border-grey-900 dark:border-grey-75;
    }

    .interactive-stroke {
        @apply border-blurple-400 dark:border-blurpleA-300;
    }

    .interactive-stroke-02 {
        @apply border-grey-200 dark:border-grey-700;
    }

    .interactive-disabled {
        @apply bg-grey-100 dark:bg-grey-800;
    }

    .interactive-fg-disabled {
        @apply text-grey-400 dark:text-grey-400;
        @apply fill-grey-400 dark:fill-grey-400;
    }

    .interactive-focus,
    :focus-visible {
        @apply outline outline-2 outline-blurple-400 dark:outline-blurpleA-300;
    }

    .spot-bg-success {
        @apply bg-green-100 dark:bg-grey-700;
    }

    .spinner-track {
        @apply border-grey-100 dark:border-grey-750;
        @apply border-4;
    }

    .spinner-fill {
        @apply border-l-blurple-400 dark:border-l-blurpleA-300
    }

    .below-m {
        @apply drop-shadow-md dark:drop-shadow-md-dark
    }
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.spinner {
    /* Change this color to customize the spinner */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}